@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

@keyframes efeitoTranslate {
    0% {transform: translate(70px)}
    100% {transform: translate(0px)}
}

body {
    overflow-x: hidden;
}

header {
    background-color: rgba(0, 0, 0, 0.449);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
}

.container {
    width: 100%;
}

.logoContainer {
    width: 50%;
    height: 50px;
    background-image: url('./../assets/spotify.svg');
    background-position: start;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

nav {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

nav a, span{
    color: #F9FAF4;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

nav a:hover {
    border-bottom: 1px solid #fff;
    opacity: 0.9;
}

.imageCover {
    width: 100%;
    height: 100vh;
    background-image: url('../assets//capa.png');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    opacity: 0.5;
}

.container {
    background: linear-gradient(to right, #ff91f6, #b258fb);
}

.carrosselContainer {
    width: 100%;
    position: absolute;
    top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerTextCarrossel {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carrossel {
    width: 50%; 
    display: flex;
}

.textCarrossel {
    font-size: 70px;
    color: #F9FAF4;
    cursor: default;
}

.buttonLayout {
    padding: 10px;
    border-radius: 100px;
    border: none;
    color: #fff;
    margin: 10px;
    font-size: 13px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.buttonLayout:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.containerButtons {
    margin-top: 30px;
}

#buttonFree {
    background-color: #7732F1;
}

#buttonPremium {
    background-color: transparent;
    border: 2px solid #fff;
    backdrop-filter: blur(3px);
}

.buttonOucaAgoraImage {
    background-image: url('./../assets//reprodutor-de-musica.png');
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-position: 10px;
    padding-left: 40px;
}

/* ESTILOS DA SESSÃO DOIS */

.sessaoDois {
    width: 100%;
    height: 500px;
    background-color: #F9FAF4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    overflow: hidden; 
}

.albuns, .textosAlbuns {
    width: 100%;
    height: auto;
}

.albuns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.linha {
    width: 75%;
    height: 49%;
    display: flex;
    justify-content: space-between;
}

.cardImg {
    width: 49%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.img1 {
    background-image: url('../assets/img1.jpg');
}

.img2 {
    background-image: url('../assets/img2.jpg');
}

.img3 {
    background-image: url('../assets/img3.jpg');
}

.img4 {
    background-image: url('../assets/img4.jpg');
}

.img5 {
    background-image: url('../assets/1.jpeg');
}

.img6 {
    background-image: url('../assets/2.jpeg');

}

.img7 {
    background-image: url('../assets/3.jpeg');
}

.img8 {
    background-image: url('../assets/4.jpeg');
}

.textosAlbuns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textosAlbuns h1, h2{
    color: #894EF1;
}

.textosAlbuns  h1 {
    font-size: 34px;
}

.textosAlbuns > h2 {
    font-size: 25px;
}

.containerText2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.containerText2 * {
    margin: 10px;
}

.efeitoTranslate {
    animation-name: efeitoTranslate;
    animation-duration: 2s;
}

/* ESTILOS DA SESSÃO DOIS */

.sessaoTres {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerSessaoTres {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerSessaoTres .content{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.containerSessaoTres .texto{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.containerSessaoTres .texto h2{
    color: #B5E2E2;
}

.containerSessaoTres .texto h1{
    font-size: 35px;
}

.containerSessaoTres .imagens {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
}

.iphone1 {
    transform: rotate(15deg);
    position: absolute;
    top: -200px; 
    left: 50px;
    height: 500px;
}

.iphone2 {
    transform: rotate(15deg);
    position: absolute;
    top: 50px; 
    left: 250px;
    height: 500px;
}

.footerBlack {
    height: 250px;
    width: 100%;
    background-color: #1E1E1E;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footerBlack .content {
    height: auto;
}

.containerSocial img{
    height: 50px;
}

.footerBlack .logoContainer {
    width: 20%;
}

::-webkit-scrollbar {
    width: 0px; 
}